<app-header></app-header>
<div class="dashboard">
  <div class="header">
    <div class="header__container">
      <div class="header__left">
        <div class="header__left--input">
          <input type="text" [(ngModel)]="search" (ngModelChange)="onSearch(search)"
            (keypress)="onKeyPress($event, search)" matInput [matAutocomplete]="auto" #trigger="matAutocompleteTrigger"
            (keydown.enter)="trigger.closePanel()" />
          <div class="header__left--icon">
            <i class="bx bx-search"></i>
          </div>
        </div>
        <mat-autocomplete #auto="matAutocomplete" showPanel>
          <mat-option *ngFor="let item of suggestion" [value]="item">
            {{ item }}
          </mat-option>
        </mat-autocomplete>
      </div>
      <div class="header__right" *ngIf="data.length !== 0">
        <div class="header__right--img">
          <i class="fas fa-download"></i>
        </div>
        <a (click)="onExport()" class="header__right--link">Export</a>
      </div>
      <div class="header__right" *ngIf="data.length === 0">
        <div class="header__right--img">
          <i class="fas fa-download" style="color: gray"></i>
        </div>
        <a class="header__right--link" style="color: gray; cursor: context-menu">Export</a>
      </div>
    </div>
  </div>

  <div *ngIf="data.length === 0">
    <p class="dashboard__title">Không có dữ liệu</p>
    <table class="dashboard__table">
      <thead class="dashboard__table--col">
        <th class="dashboard__table--col--item">
          <i class="bx bx-plus-medical dashboard__table--col--item--plus"></i>
        </th>
        <th class="dashboard__table--col--item2" (click)="onNameSort()">
          Tên sản phẩm
        </th>
        <th class="dashboard__table--col--item3">Số Lượng</th>
        <th class="dashboard__table--col--item4">Người Tạo</th>
        <th class="dashboard__table--col--item5" (click)="onDateSort()">
          Thời Gian Tạo
        </th>
      </thead>
      <tbody>
        <tr class="dashboard__table--col--item" style="height: 53px" *ngFor="
            let item of [1, 2, 3, 4, 5, 6, 7, 8, 9, 10] | paginate: config
          ">
          <td>
            <!-- <button>
              <i class="bx bxs-pencil dashboard__table--col--item--pencil"></i>
            </button>
            <button>
              <i class="bx bxs-trash dashboard__table--col--item--trash"></i>
            </button> -->
          </td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      </tbody>
    </table>
  </div>
  <table *ngIf="data.length !== 0" class="dashboard__table">
    <thead class="dashboard__table--col">
      <th class="dashboard__table--col--item">
        <button (click)="onAdd()">
          <i class="bx bx-plus-medical dashboard__table--col--item--plus"></i>
        </button>
      </th>
      <th class="dashboard__table--col--item2" (click)="onNameSort()">
        Tên sản phẩm
      </th>
      <th class="dashboard__table--col--item3">Số Lượng</th>
      <th class="dashboard__table--col--item4">Người Tạo</th>
      <th class="dashboard__table--col--item5" (click)="onDateSort()">
        Thời Gian Tạo
      </th>
    </thead>
    <tbody>
      <tr *ngFor="let item of data | paginate: config" (dblclick)="onRowClick(item.id)">
        <td>
          <button (click)="onUpdate(item.id)">
            <i class="bx bxs-pencil dashboard__table--col--item--pencil"></i>
          </button>
          <button (click)="onDelete(item.id)">
            <i class="bx bxs-trash dashboard__table--col--item--trash"></i>
          </button>
        </td>
        <td>
          {{ item.name }}
        </td>
        <td>{{ item.quantity }}</td>
        <td>{{ item.userCreate }}</td>
        <td>
          {{ changeFormatDate(item.createDate) }}
        </td>
      </tr>
    </tbody>
  </table>

  <pagination-template *ngIf="data.length > 10" #p="paginationApi" [id]="config.id"
    (pageChange)="config.currentPage = $event" class="dashboard__pagination">
    <div class="dashboard__pagination--custom">
      <div class="dashboard__pagination--custom--first dashboard__pagination--custom--btn"
        [class.fade]="p.isFirstPage()" (click)="p.setCurrent(1)">
        <span>
          << </span>
      </div>
      <div class="pagination-previous dashboard__pagination--custom--btn" [class.disabled]="p.isFirstPage()"
        (click)="p.previous()">
        <span>
          < </span>
      </div>
      <div class="page-number" *ngFor="let page of p.pages" [class.current]="p.getCurrent() === page.value"
        (click)="p.setCurrent(page.value)">
        <span *ngIf="p.getCurrent() !== page.value">{{ page.label }}</span>
        <div *ngIf="p.getCurrent() === page.value" style="background-color: #169BD5; color: #fff">
          <span>{{ page.label }}</span>
        </div>
      </div>
      <div></div>
      <div class="pagination-next dashboard__pagination--custom--last" [class.disabled]="p.isLastPage()">
        <span *ngIf="!p.isLastPage(); else elseBlock" (click)="p.next()">
          >
        </span>
        <ng-template #elseBlock><span> > </span></ng-template>
      </div>
      <div class="pagination-last dashboard__pagination--custom--last" [class.fade]="p.isLastPage()"
        (click)="p.setCurrent(p.getLastPage())">
        >>
      </div>
    </div>
  </pagination-template>
  <div *ngIf="messageExport !== ''" class="message">
    <p>{{ messageExport }}</p>
  </div>
</div>
<app-footer></app-footer>