<div class="dashboard">
  <div class="dashboard__search">
    <div class="dashboard__search--box">
      <input type="text" class="dashboard__search--box--input" />
      <i class="bx bx-search dashboard__search--box--icon"></i>
    </div>
    <div class="dashboard__export">
      <img
        src="../../../assets/icons/ex.svg"
        alt=""
        class="dashboard__export--img"
      />
      <a href="#!" class="dashboard__export--link">Export</a>
    </div>
  </div>

  <div class="dashboard__table">
    <tr class="dashboard__table--col">
      <th colspan="2" class="dashboard__table--col--item">
        <i class="bx bx-plus-medical dashboard__table--col--item--plus"></i>
      </th>
      <th class="dashboard__table--col--item2">Tên sản phẩm</th>
      <th class="dashboard__table--col--item3">Số Lượng</th>
      <th class="dashboard__table--col--item4">Người Tạo</th>
      <th class="dashboard__table--col--item5">Thời Gian</th>
    </tr>
    <tr>
      <td colspan="2">
        <i class="bx bxs-pencil dashboard__table--col--item--pencil"></i>
        <i class="bx bxs-trash dashboard__table--col--item--trash"></i>
      </td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td colspan="2">
        <i class="bx bxs-pencil dashboard__table--col--item--pencil"></i
        ><i class="bx bxs-trash dashboard__table--col--item--trash"></i>
      </td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td colspan="2">
        <i class="bx bxs-pencil dashboard__table--col--item--pencil"></i
        ><i class="bx bxs-trash dashboard__table--col--item--trash"></i>
      </td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td colspan="2">
        <i class="bx bxs-pencil dashboard__table--col--item--pencil"></i
        ><i class="bx bxs-trash dashboard__table--col--item--trash"></i>
      </td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td colspan="2">
        <i class="bx bxs-pencil dashboard__table--col--item--pencil"></i
        ><i class="bx bxs-trash dashboard__table--col--item--trash"></i>
      </td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td colspan="2">
        <i class="bx bxs-pencil dashboard__table--col--item--pencil"></i
        ><i class="bx bxs-trash dashboard__table--col--item--trash"></i>
      </td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td colspan="2">
        <i class="bx bxs-pencil dashboard__table--col--item--pencil"></i
        ><i class="bx bxs-trash dashboard__table--col--item--trash"></i>
      </td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td colspan="2">
        <i class="bx bxs-pencil dashboard__table--col--item--pencil"></i
        ><i class="bx bxs-trash dashboard__table--col--item--trash"></i>
      </td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td colspan="2">
        <i class="bx bxs-pencil dashboard__table--col--item--pencil"></i
        ><i class="bx bxs-trash dashboard__table--col--item--trash"></i>
      </td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td colspan="2">
        <i class="bx bxs-pencil dashboard__table--col--item--pencil"></i
        ><i class="bx bxs-trash dashboard__table--col--item--trash"></i>
      </td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </div>

  <div class="dashboard__paging"></div>
</div>
