.add-dashboard {
  width: 480px;
  height: 350px;
  background-color: #fff;
  border-radius: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: 600;
  box-shadow: 2px 2px 6px 0px #00000082;
  transition: 0.3s ease-in;
}
.delete-dashboard {
  height: 120px;
  top: 200px;
}

.escape-icon {
  position: absolute;
  left: 90%;
  top: 12px;
  width: 20px;
  height: 20px;
  border: 1px solid #cdcdcd;
  border-radius: 5px;
  padding-left: 3px;
  box-sizing: border-box;
}

.escape-icon:hover {
  background-color: #bbb;
}
a.close-popup {
  position: absolute;
  text-decoration: none;
  top: -6px;
  left: 3px;
  font-size: 24px;
}
.heading-add {
  width: 220px;
  height: 20px;
  position: absolute;
  left: 58%;
  transform: translateX(-50%);
  top: 15px;
  font-size: 15px;
  user-select: none;
}
.heading-delete {
  width: 380px;
  left: 30px;
}
form {
  width: 280px;
  height: 250px;
  position: absolute;
  left: calc(50% - 280px / 2);
  top: 58px;
}
.fm {
  display: flex;
  flex-direction: row;
}
.fm + .fm {
  margin-top: 0px;
}
.fm:nth-of-type(4) {
  margin-top: 10px;
}
.fm-name {
  height: 30px;
  margin-top: 3px;
  font-size: 14px;
  min-width: 100px;
}
.blue-color {
  color: #1e98d7;
}
.fm-name-redstar {
  color: #d9001c;
}
.fm-input {
  width: 150px;
  margin-left: 16px;
}
#fm-desc {
  width: 164px;
  height: 60px;
  resize: none;
  font-family: Arial, Helvetica, sans-serif;
}
#fm-company,
#fm-type-product {
  width: 170px;
}
.btn {
  height: 150px;
  width: 40px;
  position: absolute;
  display: flex;
  flex-direction: row;
  left: 55%;
  top: 90%;
}
.btn-detele,
.btn-add,
.btn-update {
  width: 85px;
  height: 35px;
  border-radius: 5px;
  color: #fff;
  position: absolute;
  border: none;
  cursor: pointer;
}
.btn-detele {
  background-color: #d9001c;
}
.btn-add,
.btn-update {
  left: 100px;
  background-color: #1e98d7;
}
.btn-detele:hover {
  transition: 0.5s;
  background-color: rgba(217, 0, 29, 0.8);
}
.btn-add:hover,
.btn-update:hover {
  transition: 0.5s;
  background-color: rgba(27, 137, 192, 0.8);
}

@media only screen and (max-width: 540px) {
  .add-dashboard {
    width: 313px;
    height: 385px;
  }

  .fm-name {
    height: 40px;
    margin-top: 3px;
    font-size: 14px;
    min-width: 110px;
  }

  .fm-input {
    margin-left: 0px;
  }
  .btn {
    left: calc(30% - 40px / 2);
    top: 103%;
  }

}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
