<div class="add-dashboard">
    <div class="escape-icon">
        <a class="close-popup" (click)="closePopup()">&times;</a>
    </div>
    <div class="heading-add blue-color">
        THÊM MỚI SẢN PHẨM
    </div>
    <form [formGroup]="addForm" (ngSubmit)="onAdd()">
        <div class="fm">
            <div class="fm-name blue-color">Tên sản phẩm<span class="fm-name-redstar"> *</span>
            </div>
            <div class="fm-input">
                <input type="text" name="" id="name" formControlName="name" formControlName="Name" required>
            </div>
        </div>
        <div class="fm">
            <div class="fm-name blue-color">Số lượng<span class="fm-name-redstar"> *</span>
            </div>
            <div class="fm-input">
                <input  min ="0" type="number" name="" id="number" formControlName="number" formControlName="Quantity" pattern="[0-999]" required>
            </div>
        </div>
        <div class="fm">
            <div class="fm-name blue-color">Mô tả
            </div>
            <div class="fm-input">
                <textarea name="mess" id="mess" maxlength="4000" formControlName="Description"></textarea>
            </div>
        </div>
        <div class="fm">
            <div class="fm-name blue-color">Hãng<span class="fm-name-redstar"> *</span>
            </div>
            <div class="fm-input">
                <select name="fm-company" id="fm-company" (change)="onBrandChange($event)">
                    <option *ngFor="let brand of brands" [value]="brand.id">{{brand.name}}</option>
                </select>
            </div>
        </div>
        <div class="fm">
            <div class="fm-name blue-color">Loại sản phẩm<span class="fm-name-redstar"> *</span>
            </div>
            <div class="fm-input">
                <select name="fm-type-product" id="fm-type-product" formControlName="CategoryId">
                    <option *ngFor="let item of categories" value="{{item.id}}">{{item.name}}</option>
                </select>
            </div>
        </div>
        <div class="btn">
            <button class="btn-detele" (click)="closePopup()">HUỶ</button>
            <button type="submit" value="add" class="btn-add">THÊM MỚI</button>
        </div>
    </form>
</div>