<div class="add-dashboard">
            <div class="escape-icon">
                <a href="#" class="close-popup">&times;</a>
            </div>
            <div class="heading-add blue-color">
                CẬP NHẬT SẢN PHẨM
            </div>
            <form action="none">
                <div class="fm">
                    <div class="fm-name blue-color">Tên sản phẩm<span class="fm-name-redstar"> *</span>
                    </div>
                    <div class="fm-input">
                        <input type="text" required>
                    </div>
                </div>
                <div class="fm">
                    <div class="fm-name blue-color">Số lượng<span class="fm-name-redstar"> *</span>
                    </div>
                    <div class="fm-input">
                        <input type="text" autocomplete="0" type="number" min="0">
                    </div>
                </div>
                <div class="fm">
                    <div class="fm-name blue-color">Mô tả
                    </div>
                    <div class="fm-input">
                        <!-- <input type="text" id="fm-desc"> -->
                        <textarea name="" id="fm-desc" maxlength="4000"></textarea>
                    </div>
                </div>
                <div class="fm">
                    <div class="fm-name blue-color">Hãng<span class="fm-name-redstar"> *</span>
                    </div>
                    <div class="fm-input">
                        <select name="fm-company" id="fm-company">
                            <option value="Dell">DELL</option>
                            <option value="asus">ASUS</option>
                            <option value="ecer">ACER</option>
                            <option value="HP">HP</option>
                        </select>
                    </div>
                </div>
                <div class="fm">
                    <div class="fm-name blue-color">Loại sản phẩm<span class="fm-name-redstar"> *</span>
                    </div>
                    <div class="fm-input">
                        <select name="fm-type-product" id="fm-type-product">
                            <option value="laptop">laptop</option>
                            <option value="desktop">desktop</option>
                            <option value="screen">phụ kiện laptop</option>
                        </select>
                    </div>
                </div>
            </form>
            <div class="btn">
                <button class="btn-detele">HUỶ</button>
                <button class="btn-add">CẬP NHẬT</button>
            </div>
        </div>