* {
  margin-left: 0%;
  margin-right: 0%;

  box-sizing: border-box;
}
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
html {
  font-family: "Roboto", sans-serif;
}
.container {
  width: 100%;
  height: 700px;
  background-color: white;
  display: flex;
  justify-content: center;

  align-items: center;
}
.warrap {
  width: 100%;
  height: 820px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.boder {
  margin: 0%;
  padding: 0%;
  width: 1771px;
  height: 789px;
  border-radius: 5px;
  border-style: solid;
  border-color: #a0a0a0;
  border-width: 1px;
  display: flex;
  justify-content: center;
}
.lsit{
margin-left:60px;
}


.buttontext {
  background-color: #1e90ff;
  padding: 14.8px 15px;
  color: white;
  border-radius: 5px;
  margin-right: 0px;
  margin-left:47px;
  cursor: pointer;
  border: none;
}
.buttontext-2 {
  background-color: #1e90ff;
  padding: 15.4px 35px;
  color: white;
  border-radius: 5px;
  margin-left:-9px;
  cursor: pointer;
  border: none;
  font-family: roboto;
}
.list-item{
  padding-bottom:43px;
  margin-left:60px;
.row{
  margin-left:60px
}
.h1{
  margin-top:30px;
  color:#1e90ff;
}
}
@media only screen and (max-width: 500px) and (min-width: 200px) {
  .boder {
    border-color: #a0a0a0;

    height: 550px;
  }
  .row > h1 {
    margin-top: 10px;
    margin-left: 59px;
    color: #1e90ff;
    font-size: 20px;
  }
  .list-item{
  width :90px;
  padding-bottom:23px;
  
  }
  .buttontext-2 {
    background-color: #1e90ff;
    padding: 9.5px 35px;
    color: white;
    border-radius: 5px;
    margin-top: -19px;
    // margin-left:18px;
    position: absolute;
    margin-left: -6px;
  }
  .buttontext {
    position: absolute;
    background-color: #1e90ff;
    padding: 9px 10px;
    color: white;
    border-radius: 5px;
    margin-top: -18px;
    margin-left: 70px;
    cursor: pointer;
}
.text{
  width: 150px;
}
}
@media only screen and (max-width: 420px) {
  .text{
   
    margin-left: -4px;
  }
  .list-item{
    padding-bottom: 26px;
  }
  .buttontext-2{
    margin-left: 3px;
  }
  .buttontext{
    margin-left: 38px;
  }
}
@media only screen and (max-width: 380px) {
  .boder{
    box-sizing: border-box;
  }
  .buttontext{
    margin-left: 20px;
  }
  .boder{
    height: 650px;
  }
}
