<div class="warrap">
  <div class="container">
    <div class="boder">
      <div class="row">
        <h1>Thông Tin Chi Tiết Sản Phẩm</h1>
        <div class="row-1">
          <div class="colum col-1">
            <p class="col1">Tên Sản Phẩm</p>
            <p class="col1">Số Lượng</p>
            <p class="col1">Mô Tả</p>
            <p class="col1">Hãng</p>
            <p class="col1">Loại Sản Phẩm</p>
            <p class="col1">Người Tạo</p>
            <p class="col1">Thời Gian</p>
            <p class="col1">Người Cập Nhật</p>
            <p class="col1">Thời Gian Cập Nhật</p>
          </div>
          <!-- <div class="colum col-2">
            <p><strong>Bàn phím Dell 12</strong></p>
            <p><strong>20</strong></p>
            <p><strong>Độ bên cao</strong></p>
            <p><strong>Dell</strong></p>
            <p><strong>Phụ Kiện Laptop</strong></p>
            <p><strong>Hồng</strong></p>
            <p>18/4/2022 03 30:00CH</p>
            <p style="color: #e0e0e0"><i>Không có Thông Tin</i></p>
            <p style="color: #e0e0e0"><i>Không có Thông Tin</i></p>
          </div> -->
          <div class="colum col-2">
            <p>
              <strong>{{ datas.name_product }}</strong>
            </p>
            <p>
              <strong>{{ datas.amount }}</strong>
            </p>
            <p *ngIf="datas.description !==''">
              <strong>{{ datas.description }}</strong>
            </p>
            <p *ngIf="datas.description ===''" style="color: #e0e0e0">
              <i>Không có Thông Tin</i>
            </p>
            <p>
              <strong>{{ datas.brand }}</strong>
            </p>
            <p>
              <strong>{{ datas.type }}</strong>
            </p>
            <p>
              <strong>{{ datas.createBy }}</strong>
            </p>
            <p><strong>{{convertTimestampsToString(datas.createAt)}}</strong></p>
            <p style="color: #e0e0e0"><i>Không có Thông Tin</i></p>
            <p style="color: #e0e0e0"><i>Không có Thông Tin</i></p>
          </div>
          <div class="button">
            <a href="#" class="buttoncn"></a>
            <span class="buttontext">Cập Nhật</span>
            <a href="#" class="buttoncn"></a>
            <span class="buttontext-2">Xóa</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>